<nav class="flex items-center justify-between flex-wrap bg-gray-900 p-6">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <span class="font-semibold text-xl tracking-tight">
      <%= link_to "Brstlcone", root_path, class: "block mt-4 lg:inline-block lg:mt-0 text-white hover:text-gray-400 mr-4" %>
    </span>
  </div>
  <div class="block lg:hidden">
    <button class="flex items-center px-3 py-2 border rounded text-white border-white-400 hover:text-white hover:border-white">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
    </button>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
			<%= link_to "Campaigns", campaigns_path, class: "block mt-4 lg:inline-block lg:mt-0 text-white hover:text-gray-400 mr-4" %>
    </div>

    <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
      <div data-controller="dropdown" data-action="click->dropdown#toggle click@window->dropdown#hide" data-dropdown-open-value="false" data-dropdown-active-target="#dropdown-button" data-dropdown-active-class="bg-blue-600" data-dropdown-invisible-class="opacity-0 scale-95" data-dropdown-visible-class="opacity-100 scale-100" data-dropdown-entering-class="ease-out duration-300" data-dropdown-enter-timeout="300" data-dropdown-leaving-class="ease-in duration-100" data-dropdown-leave-timeout="100" aria-haspopup="true" aria-expanded="false">
        <div id="dropdown-button" class="relative inline-block text-sm text-white px-4 py-2 leading-none rounded no-underline hover:bg-blue-600 mt-0">
          <div role="button" tabindex="0" data-dropdown-target="button" class="inline-block select-none">
            <span class="appearance-none flex items-center inline-block">
              <span>Menu</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="text-white fill-current h-4 w-4"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
            </span>
          </div>
          <div data-dropdown-target="menu" class="absolute right-0 mt-2 transform transition opacity-0 scale-95 hidden">
            <div class="bg-white shadow rounded border overflow-hidden w-32">
              <% if user_signed_in? %>
                <%= link_to "Settings", settings_path, class: "block px-4 py-2 text-sm text-gray-700", role: "menuitem", tabindex: "-1", id: ""  %>
                <%= link_to "Log out", destroy_user_session_path, class: "block px-4 py-2 text-sm text-gray-700", role: "menuitem", tabindex: "-1", id: ""  %>
              <% else %>
                <%= link_to "Log in", new_user_session_path, class: "block px-4 py-2 text-sm text-gray-700", role: "menuitem", tabindex: "-1", id: "" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>